homeserver:
  address: http://synapse.railway.internal:8008
  domain: synapse-production-e1f9.up.railway.app

appservice:
  address: http://mautrix-telegram.railway.internal:29317
  hostname: 0.0.0.0
  port: 29317
  database: postgres://postgres:BjUtajUuXkRKPnugsQzZULGUxdijseLX@postgres.railway.internal:5432/mautrix_telegram

  # --- ADD THESE THREE LINES BELOW ---
  id: telegram
  as_token: railway_secret_token_1
  hs_token: railway_secret_token_2

telegram:
  api_id: 35365569 # <--- PUT YOUR ID HERE
  api_hash: 3c6ccc1a07813fea82e8a514d07e00e5 # <--- PUT YOUR HASH HERE

bridge:
  permissions:
    "synapse-production-e1f9.up.railway.app": "full"
    "@admin_1:synapse-production-e1f9.up.railway.app": "admin" # Replace your_username with your Matrix name
  sync_with_custom_puppets: true

logging:
  version: 1
  formatters:
    precise:
      format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      formatter: precise
      stream: ext://sys.stdout
  loggers:
    mau:
      level: INFO
    telethon:
      level: INFO
  root:
    level: INFO
    handlers: [console]
